<!doctype html>
	<head>
		<title>ASDASDASD</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/animate.css' />
	</head>
	<body>
		<div id="carta">
			<img class="animated bounce" src="/images/reverso.jpg">
		</div>
	</body>
</html>